<!--[if !IE 7]> <style type="text/css"> #wrap {display:table;height:100%} </style> <![endif]-->

* {
margin: 0;
padding: 0;
}

html, body {
height: 100%;
background-image: url("../images/battleship-bg.png");
background-repeat: no-repeat;
background-position: left top;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
#wrap {
min-height: 100%;
background-color : transparent;
}

#footer {
position: relative;
margin-top: -25px; 
height: 25px; 
clear: both;
background: #003399;
text-align: center;

color: #FFFFFF;
}

#header {
    background-image: url("../images/banner-javascript.jpg");
    color:orangered;
    text-align:left;
    padding:5px;
    height:100px;
    width:540px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    
    width:280px;
    float:left;
    padding:5px;
	min-height: 90%; 
	height: auto
}

#section {
    width:600px;
    float:left;
    padding:10px;
}

table#player {	
    border: 1px single darkgray;
	border-collapse:collapse;
	
}
table#player td {
    border: thin solid darkgray;
}

.PORTRAIT {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.HIT{
    color:blue;
}

.FAIL{
    color:red;
}

